<section>
    <div class="container-fluid">
        <div class="col-12">
            <mat-card class="mat-card-padrao">
                <div class="row">
                    <div class="col-12">
                        <mat-card-title>Cadastro de Nutricionista </mat-card-title>
                        <form [formGroup]="formsRegister" class="row">
                            <mat-form-field class="col-5" appearance="outline">
                                <mat-label>Nome</mat-label>
                                <input matInput placeholder="Nome" required formControlName="nome"
                                    value={{formsRegister.value.Nome}}>
                            </mat-form-field>

                            <mat-form-field class="col-2" appearance="outline">
                                <mat-label>Sexo</mat-label>
                                <select matNativeControl required formControlName="sexo">
                                    <option>Selecione</option>
                                    <option value="M">Masculino</option>
                                    <option value="F">Feminino</option>
                                </select>
                            </mat-form-field>

                            <mat-form-field class="col-4" appearance="outline">
                                <mat-label>CRN</mat-label>
                                <input matInput placeholder="CRN" required formControlName="crn">
                            </mat-form-field>

                            <mat-form-field class="col-4" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Email" required
                                    pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" formControlName="email"
                                    value={{formsRegister.value.Email}}>
                            </mat-form-field>

                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <mat-checkbox class="col-xs-12 col-md-2" id="chkNutPediatrica">Nutrição
                                            Pediatrica
                                        </mat-checkbox>
                                        <mat-checkbox class="col-xs-12 col-md-2" id="chkNutClinica">Nutrição
                                            Clínica
                                        </mat-checkbox>
                                        <mat-checkbox class="col-xs-12 col-md-2" id="chkNutHospitalar">Nutrição
                                            Hospitalar
                                        </mat-checkbox>
                                        <mat-checkbox class="col-xs-12 col-md-2" id="chkNutAmbulatorial">
                                            Nutrição
                                            Ambulatorial
                                        </mat-checkbox>
                                        <mat-checkbox class="col-xs-12 col-md-2" id="chkNutDomiciliar">Nutrição
                                            Domiciliar
                                        </mat-checkbox>
                                        <mat-checkbox class="col-xs-12 col-md-2" id="chkNutConsultoria">Nutrição
                                            Consultoria
                                        </mat-checkbox>
                                        <mat-checkbox class="col-xs-12 col-md-2" id="chkNutEsportiva">Nutrição
                                            Esportiva</mat-checkbox>
                                        <mat-checkbox class="col-xs-12 col-md-2" id="chkNutGastronomica">
                                            Nutrição
                                            Gastronômica
                                        </mat-checkbox>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-1 offset-md-10 mt-4">
                        <button mat-raised-button class="btn col-12" (click)="clearPaciente()">Limpar</button>
                    </div>
                    <div class="col-sm-12 col-md-1  mt-4">
                        <button mat-raised-button class="btn col-12" (click)="savePaciente()">Salvar</button>
                    </div>
                </div>
            </mat-card>    
        </div>
    </div>
</section>